/* Stylesheet for mobi format */
pre.programlisting { background-color: #eeeeee; }
pre.screen { background-color: #eeeeee; }

/* source code highlighting */
.hl-comment {color: #059900;}
.hl-keyword {font-weight: bolder; color: #153799;}
.hl-string {color: red;}

/* Special keyword highlighting */
.filename{color: #000066;}
.command{color: #A2000C;}
.userinput{color: #138900;}
.classname{color: #161672;}
.methodname{color: #161672;}
.literal{color: #2B541C;}